/* pre-loader */
#loading {
    position: fixed;
    object-fit: cover;
    width: 100%;
    height: 100vh;
    position: fixed;
    background: #fff url("img/Coronavirus_1.gif") no-repeat center;
    z-index: 999;
  }

  nav {
    font-size: 23px;
  }
  
     .container p{
     font-size: 18px; 
     font-family: 'Montserrat', sans-serif;
   }
   .container h3{
     padding:35px 0;
     color:rgb(153, 10, 10)
   }
   .container h2{
     margin: 35px 0px;
     color:rgb(21, 104, 129);
     font-size: 37px;
   }
   .container a{
     color:rgb(10, 115, 201);
     text-decoration:none;
   }
   .container a:hover{
     color:crimson;
   }
   .container ul li{
     font-size:18px;
   }
   .ayushi{
     border:1px solid blueviolet;
     margin:100px;
     background-image: linear-gradient(to right, #c1dddc, #9b15e9);
     display:flex;
     flex-wrap: nowrap;
     flex-direction: row;
   }
   .ayushi h3{
     color:white;
     margin:3px auto;
   }
   .ayushi h4{
     display:none;
   }
   .ayushi a{
     color:black !important;
   }
   .ayu1{
     width:70%;
     text-align: center;
   }
   .ayu1 button{
     width:45%;
   }
/*     @media screen and (max-width:599px) and (min-width:436px){
      .ayu1 button{
        width:30%;
        font-size: 12px;
        padding: 2px;
        line-height: 14px;
      }
      .ayu1 h3{
        font-size:20px;
        margin:0px;
      }
    }
      
    @media screen and (max-width:436px){
      .ayu1 button{
        width:30%;
        font-size: 9px;
        padding: 1px;
        line-height: 14px;
      }
      .ayu1 h3{
        font-size:12px;
        margin:0px;
      }
    } */
    @media screen and (max-width:767px){
      .ayu1 button{
        width:50%;
        font-size: 12px;
        padding: 2px;
        margin:20px auto;
        
      }
      .ayu1 h3{
        font-size:18px;
        margin:0px auto;
      }
    }
      
     @media screen and (max-width:500px) and (min-width:352px){
      .ayu1 button{
        width: 50%;
        font-size: 10px;
        padding: 3px;
        line-height: 15px;
        margin: 10px auto;
      }
      .ayu1 h3{
        font-size:15px;
        margin:0px auto;
        padding: 20px;
        
      }
      .ayu1{
        width:100%;
      }
       .ayushi{
        display:block;
        flex-wrap: nowrap;
        flex-direction: row;
      } 
      .ayushi img{
        width:100%;
      }
    }
    @media screen and (max-width:352px){
      .ayu1 button{
        width: 60%;
        font-size: 5px;
        padding: 0px;
        line-height: 12px;
        margin: 8px auto;
      }
      /* .ayu1 h3{
        font-size:15px;
        margin:0px auto;
        padding: 20px;
        
      } */
      .ayushi h3{
        display:none;
      }
      .ayushi h4{
        display: block !important;
        color:white;
        margin:0 auto;
        padding:5px;
        font-size:10px;
      }
      .ayu1{
        width:100%;
      }
       .ayushi{
        display:block;
        flex-wrap: nowrap;
        flex-direction: row;
      } 
      .ayushi img{
        width:100%;
      }
    }
      
    
   
  
  
 /* footer css */
.container-fluid {
 
  color: rgb(226, 255, 220);
}
