/* pre-loader */
#loading {
    position: fixed;
    object-fit: cover;
    width: 100%;
    height: 100vh;
    position: fixed;
    background: #fff url("img/Coronavirus_1.gif") no-repeat center;
    z-index: 999;
  }

  nav {
    font-size: 23px;
  }

  .container h1{
    margin: 35px 0px;
  }
  .container h2{
    color:rgb(153, 10, 10);
    margin: 35px 0px;
  }

  .container p{
    font-size: 18px; 
    font-family: 'Montserrat', sans-serif; 
  }
   
  .container ul li{
    font-size:18px;
  }

  /* footer css */
.container-fluid {
 
    color: rgb(226, 255, 220);
  }
