/* pre-loader */
#loading {
    position: fixed;
    object-fit: cover;
    width: 100%;
    height: 100vh;
    position: fixed;
    background: #fff url("img/Coronavirus_1.gif") no-repeat center;
    z-index: 999;
  }

  nav {
    font-size: 23px;
  }
  
  
  
  .ayushi{
    border: 2px solid blueviolet ;
    width:75%;
    margin:25px auto;
  }

  .ayu1{
    width:50%;
    float:right;
  }
  .ayu1 h3{
    text-align:center;
    padding:10px;
    color:whitesmoke;
    background-color: blueviolet;
  }
  .ayu1 button{
    display:block;
    width:50%;
    margin:25px auto;
  }
  .ayu1 a{
      color:black;
      text-decoration: none;
      font-size: 20px;
  }
   .ayu1 p{
    width: 80%;
    margin: 15px auto;
    text-align: center;
    /*font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;*/
    font-family: 'Arvo', serif;
    font-size:18px;
  }
  /*.ayu2{
    width:50%;
    float:right;

  }*/

  

   .ayushi1{
      /* border:2px solid blueviolet;  */
      width:75%;
      /* justify-content:center; */
      margin:15px auto;
      display:flex;
      align-items:center;
   }
   .ayu2{
          width:80%;
          /* border:2px solid cyan;  */
          margin:5px;
          padding:20px;
          font-size:17px;
          /* float:left; */
          /* clear:both; */
   }

   h1{
      width:80%;
      margin:auto;
      padding:0 50px;
   }
    .img{
      width:20%;
      
      /* display:flex;
      align-items: center; */
    }
    .img img{
      width:50%;
      border: black;
      border-radius: 10px;
      position:relative;
      left:35px;
    }

    .ayushi2, .ayushi3, .ayushi4, .ayushi5{
          width:75%;
          margin:auto;
          padding:25px;
          font-size:17px;
    }

    
/*.ayushi1 img{
      float:right;
      position: relative;
      top: 75px;
      right: 75px; 
      /* flex-shrink: 2;
      flex-grow: 2; 
      border: 1px inset black;
      border-radius: 10px;
}*/

 /* footer css */
@media screen and (max-width: 1450px) and (min-width:1270px){
      .ayushi img{
          width:45%;
      }
      .ayu1{
        width:55%;
      }
      .ayu1 h3{
        padding:7px;
      }
      .ayu1 p{
        font-size:15px;
      }
      .ayu1 button{
        margin:18px auto;
      }
}
@media screen and (max-width: 1270px) and (min-width:978px){
  .ayushi img{
      width:40%;
  }
  .ayu1{
    width:60%;
  }
  .ayu1 h3{
    padding:2px;
  }
  .ayu1 p{
    font-size:11px;
    margin:10px auto;
  }
  .ayu1 button{
    margin:auto;
    width:65%;
    padding: 2px;
  }
}
/*@media screen and (max-width: 978px){
  .ayushi img{
    width:21%;
 height:250px; 
  }
  .ayu1{
    width:79%;
  }
  .ayu1 p{
    font-size:11px;
    margin:10px auto;
  }
  .ayu1 button{
    margin:auto;
    width:55%;
    padding: 1px;
  }
  .ayu1 h3{
    padding:2px;
    font-size:22px;
  }
  .ayushi{
    height:380px;
  }
}*/
@media screen and (max-width: 978px){
  /*.ayushi img{
    width:100%;
    
 /* height:250px;  
  }
  .ayu1{
    width:100%;
  }
  .ayu1 p{
    font-size:11px;
    margin:10px auto;
  }
  .ayu1 button{
    margin:auto;
    width:55%;
    padding: 1px;
  }
  .ayu1 h3{
    padding:2px;
    font-size:22px;
  }*/
  .ayu1 .ayushi img{
    display: block;
    flex-wrap: nowrap;
    flex-direction: row;
  }
  .ayushi img{
    width: 100%;
    position: relative;
    left: 0%;
    transform: translateX(0%);
  }
  .ayu1{
    width:100%;
  }
  .ayu1 button{
    margin:10px auto;
  }
  footer{
    position:fixed;
    bottom:0;
    display:none;
  }
  .ayushi{
    width:75%;
  }
  .ayu1 p{
    margin:0px auto;
    overflow:auto;
    /* align-items: center; */
  }
  .ayu1 h3{
    margin:15px auto;
  }
}
  
 /* footer css */
.container-fluid {
 
  color: rgb(226, 255, 220);
}
